.todoFormContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.formComponent {
    font-family: "Poppins", sans-serif;
    width: 100%;
    margin-bottom: 20px;
}

.prioritySelector {
    width: 100%;
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
}

.selectorItem {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.submitButton {
    font-family: "Poppins", sans-serif;
    width: 100%;
    margin-bottom: 20px;
    background-color: #5A6ACF;
}

.submitButton:hover {
    background-color: #394179;
}
